.container {

    border: 1px solid #cccccc;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 400px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin:auto;

}

.button {

    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 60px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
}

.button:hover {
    background-color: #c4c4c4;
}

.operator {
    color: #000000;
    font-size: xx-large;
    border-radius: 60px;
    background-color: transparent;
}

.clear {
    background-color: #c50007;
    border-color: #c50007;
    color: #fff;
    width: 80px;
    height: 30px;  
}

.clear:hover {
    background-color: #d15c60;
}

.equal-sign {
    background-color: #25a8e0;
    border-color: transparent;
    border-radius: 60px;
    color: #fff;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.screen{
    background-color:rgb(211, 211, 211);
    justify-content: right;
    color: black;
    font-size: medium;
    border-radius: 60px;
    width: 40%;
    height: 10%;
    cursor: default;
    padding: 10px; 
    padding-left: 40%;
    margin: auto;
    margin-bottom: 10px;
}